<template>
  <v-container>
    <div v-if="error" class="text-center">
      <div class="title">Oops!</div>
      <div class="subtitle-1">There is currently an issue with the server.
        Retry later or click on the below button to reload the content of this page</div>
      <v-btn @click="fetchData" class="ma-6" tile outlined color="primary">
        <v-icon left>mdi-cached</v-icon> Reload
      </v-btn>
    </div>
    <div v-else-if="loading" class="text-center">
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-row v-else-if="movies.length !== 0">
      <v-col
        cols="12"
        md="3"
        v-for="movie in movies"
        v-bind:key="movie._id"
      >
        <MfMoviePreview
          :movie="movie"
          @edit="onEditMovie"
          @delete="onDeleteMovie"
          @view="onViewMovie"
        />
      </v-col>
    </v-row>
    <div v-else class="text-center">
      <div class="title">No movies in the database</div>
      <div class="subtitle-1">There are currently no movies in the database.</div>
      <v-btn @click="onStartAdding" class="ma-6" tile outlined color="primary">
        <v-icon left>mdi-plus</v-icon> Start adding
      </v-btn>
    </div>
  </v-container>
</template>

<script>
import MfMoviePreview from '../components/MoviePreview.vue';
import MoviesService from '../common/movie.service';


export default {
  name: 'MfHome',
  components: {
    MfMoviePreview,
  },
  data: () => ({
    loading: false,
    movies: [],
    error: false,
  }),
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.loading = true;
      this.error = false;

      try {
        const { data } = await MoviesService.list();
        this.movies = data;
      } catch (err) {
        this.error = true;
      }

      this.loading = false;
    },
    successDelete(id) {
      this.movies = this.movies.filter(movie => movie._id !== id);
      this.$toast.success(`Movie ${this.movie.title} successfully deleted!`);
    },
    async onDeleteMovie(movie) {
      try {
        await MoviesService.delete(movie._id);
        this.successDelete(movie._id);
      } catch (err) {
        // Already deleted by someone else
        if (err.response.status === 404) {
          this.successDelete(movie._id);
        } else {
          this.$toast.warning(`An error occured ${this.movie.title} successfully deleted!`);
        }
      }
    },
    onEditMovie(id) {
      this.$router.push({ name: 'movie-edit', params: { id } });
    },
    onViewMovie(id) {
      this.$router.push({ name: 'movie', params: { id } });
    },
    onStartAdding() {
      this.$router.push({ name: 'movie-edit' });
    },
  },
};
</script>
