<template>
  <v-container>
    <div v-if="loading" class="text-center">
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>

    <v-form
      v-else
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-text-field
        v-model="movie.title"
        :rules="[rules.required]"
        :error-messages=" !isMovieUnique ?
         `This movie already exists for the director ${movie.director}` : null"
        label="Title *"
        @keydown="isMovieUnique = true"
        required
      ></v-text-field>

      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            label="Release Date *"
            v-model="movie.releaseDate"
            :rules="[rules.required]"
            readonly
            required
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="movie.releaseDate" @input="menu = false"></v-date-picker>
      </v-menu>

      <v-text-field
        label="Director *"
        v-model="movie.director"
        :rules="[rules.required]"
        required
      ></v-text-field>

      <v-textarea
        name="input-7-1"
        label="Description *"
        v-model="movie.description"
        :rules="[rules.required]"
      ></v-textarea>

      <v-text-field
        label="Genre *"
        v-model="movie.genre"
        :rules="[rules.required]"
        required
      ></v-text-field>

      <v-btn
        :disabled="!valid || inProgress"
        color="success"
        class="mr-4 mt-4"
        @click="onPublish"
      >
        {{this.id ? 'Edit' : 'Add'}} movie
      </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import MoviesService from '../common/movie.service';

export default {
  name: 'MfMovieEdit',
  props: {
    id: {
      type: String,
      required: false,
    },
  },
  data: () => ({
    valid: true,
    inProgress: false,
    loading: false,
    isMovieUnique: true,
    rules: {
      required: value => !!value || 'Required.',
    },
    movie: {
      title: '',
      releaseDate: new Date().toISOString().substr(0, 10),
      director: '',
      genre: '',
      description: '',
    },
    menu: false,
  }),
  created() {
    if (this.id) {
      this.fetchData();
    }
  },
  methods: {
    async onPublish() {
      if (this.$refs.form.validate()) {
        this.inProgress = true;

        try {
          const data = {
            ...this.movie,
            releaseDate: new Date(this.movie.releaseDate).getTime(),
          };
          let newMovie = null;

          if (this.id) {
            newMovie = await MoviesService.update(this.id, data);
          } else {
            newMovie = await MoviesService.create(data);
          }

          this.$router.push({ name: 'movie', params: { id: newMovie._id } });
        } catch (e) {
          // if a movie with the same title and director exists in DB, there is a conflict
          if (e.response.status === 409) {
            this.isMovieUnique = false;
          } else {
            this.$toast.warning('There was an error when trying to add or update the movie. Please, try again later.');
          }
        }

        this.inProgress = false;
      }
    },
    async fetchData() {
      this.loading = true;

      try {
        const {
          title, description, genre, releaseDate, director,
        } = await MoviesService.get(this.id);

        // Transforming timestamp to needed input for the datepicker
        const release = new Date(releaseDate);
        this.movie = {
          title,
          description,
          genre,
          director,
          releaseDate: `${release.getFullYear()}-${(release.getMonth()) + 1}-${release.getDate()}`,
        };
      } catch (err) {
        if (err.response.status === 404) {
          this.$toast.warning('The movie that you are trying to edit does not exist.');
        } else {
          this.$toast.warning('There was an error when trying to edit the movie. Please, try again later.');
        }

        this.$router.push('/');
      }

      this.loading = false;
    },
  },
  beforeRouteUpdate(to, from, next) {
    if (to.params.id) {
      this.fetchData();
    } else {
      this.$refs.form.reset();
    }
    next();
  },
};
</script>
