<template>
    <v-container>
      <div v-if="loading" class="text-center">
        <v-progress-circular
          :size="70"
          :width="7"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>

      <div v-if="errorCode === 404" class="text-center">
        <div class="title">Movie not found!</div>
        <div class="subtitle-1">This movie does not exist or has been deleted</div>
        <v-btn @click="goToHome" class="ma-6" tile outlined color="primary">
          Go to the movies list
        </v-btn>
      </div>

      <div v-else-if="errorCode != null" class="text-center">
        <div class="title">Oops!</div>
        <div class="subtitle-1">There is currently an issue with the server.
          Retry later or click on the below button to reload the content of this page</div>
        <v-btn @click="fetchData" class="ma-6" tile outlined color="primary">
          <v-icon left>mdi-cached</v-icon> Reload
        </v-btn>
      </div>

      <div v-if="movie" class="content">
        <div class="text-center">
          <div class="title">{{ movie.title }}</div>
          <div class="subtitle-1">{{ movie.releaseDate | year }}</div>
        </div>
        <div>
          <div class="body-1">Director</div>
          <div class="body-2">{{ movie.director }}</div>
        </div>
        <div class="mt-6">
          <div class="body-1">Description</div>
          <div class="body-2">{{ movie.description }}</div>
        </div>
        <div class="mt-6">
          <div class="body-1">Genre</div>
          <div class="body-2">{{ movie.genre }}</div>
        </div>
        <div class="mt-6 text-right">
          <v-btn class="ma-2" tile outlined color="success" @click="editMovie">
            <v-icon left>mdi-pencil</v-icon> Edit
          </v-btn>
          <v-btn class="ma-2" tile outlined color="error" @click="deleteMovie" :disabled="deleting">
            <v-icon left>mdi-delete</v-icon> Delete
          </v-btn>
        </div>
      </div>
    </v-container>
</template>

<script>
import MoviesService from '../common/movie.service';

export default {
  name: 'MfMovie',
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    movie: null,
    loading: false,
    deleting: false,
    errorCode: null,
  }),
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.errorCode = null;
      this.movie = null;
      this.loading = true;

      try {
        this.movie = await MoviesService.get(this.id);
      } catch (e) {
        this.errorCode = e.response.status;
      }

      this.loading = false;
    },
    async deleteMovie() {
      this.deleting = true;

      try {
        await MoviesService.delete(this.id);
        this.successDelete();
      } catch (err) {
        // movie has probably been deleted by someone else
        if (err.response.status === 404) {
          this.successDelete();
        } else {
          this.$toast.warning(`It is not possible to delete the movie ${this.movie.title}. Please, try again later`);
        }
      }

      this.deleting = false;
    },
    editMovie() {
      this.$router.push({ name: 'movie-edit', params: { id: this.id } });
    },
    successDelete() {
      this.$toast.success(`Movie ${this.movie.title} successfully deleted!`);
      this.goToHome();
    },
    goToHome() {
      this.$router.push('/');
    },
  },
};
</script>
