<template>
  <v-card>
    <v-card-title>{{movie.title}}</v-card-title>
    <v-card-subtitle>{{movie.releaseDate | year}}</v-card-subtitle>
    <v-card-text>
      <div class="text--primary">{{movie.description}}</div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="deep-purple accent-4"
        @click="onView"
      >
        Learn More
      </v-btn>
      <v-spacer></v-spacer>

      <v-btn @click="onEdit" icon>
        <v-icon>mdi-pencil</v-icon>
      </v-btn>

      <v-btn @click="onDelete" icon>
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'MfMoviePreview',
  props: {
    movie: { type: Object, required: true },
  },
  methods: {
    onEdit() {
      this.$emit('edit', this.movie._id);
    },
    onDelete() {
      this.$emit('delete', this.movie);
    },
    onView() {
      this.$emit('view', this.movie._id);
    },
  },
};
</script>
