<template>
  <v-app-bar
    app
    color="primary"
    dark
  >
    <div class="d-flex align-center">
      <v-toolbar-title>Movie App</v-toolbar-title>
    </div>

    <v-spacer></v-spacer>

    <v-btn text to="/">
      <span class="mr-2">Home</span>
    </v-btn>

    <v-btn text to="/editor" exact>
      <v-icon>mdi-plus</v-icon>
      <span class="mr-2">New movie</span>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: 'MfHeader',
};
</script>
