<template>
  <v-app>
    <MfHeader />

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import MfHeader from './components/TheHeader.vue';

export default {
  name: 'App',

  components: {
    MfHeader,
  },
};
</script>
